# put here your custom config value
menu "Tinycar Configuration"
    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
        SSID (network name) for the Tinycar to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
        WiFi password (WPA or WPA2) for the Tinycar to use.

    config ESP_HOSTNAME
        string "Hostname"
        default "Tinycar01"
        help
        Hostname for the Tinycar.

    config UDP_PORT
        int "Port"
        range 0 65535
        default 55002
        help
        Port for the Tinycar to listen on.
    
    choice HARDWARE_BOARD
        prompt "Hardware Board"
        default HARDWARE_BOARD_TINYCARESP
        help
            Select the hardware board you are using.
            On a custom board (ESP32 Dev board), you need to set the pin configuration in the next step.
        
        config HARDWARE_BOARD_CUSTOM
            bool "Custom (ESP32 dev board)"
            help
                Select this if you are using a custom board meaning a ESP32 dev board with external motor drivers etc..
                You need to set the pin configuration in the next step.

        config HARDWARE_BOARD_TINYCARESP
            bool "Tinycar ESP"
            help
                Select this if you are using the Tinycar ESP board.
    endchoice

    ###########################################################
    # CAMERA
    config CAMERA_ENABLED
        depends on HARDWARE_BOARD_TINYCARESP
        bool "Use camera"
        default n
        help
        Set this to true if car has a camera.

    config CAMERA_RX_PORT
        depends on CAMERA_ENABLED
        int "Camera Frame Receive Port"
        range 0 65535
        default 55003
        help
        To this port the camera frames are being sent over UDP

    ###########################################################
    # BATTERY MEASUREMENT
    config BATTERY_MEASUREMENT
        depends on HARDWARE_BOARD_TINYCARESP
        bool "Use battery voltage measurement"
        default y
        help
        Set this to true if you want to activate the battery voltage measurement.

    ###########################################################
    # SERVO CONTROL
    config SERVO_CONTROL
        depends on HARDWARE_BOARD_TINYCARESP
        bool "Use servo control"
        default n
        help
        Set this to true if car has a servo.
    
    ###########################################################
    # LIGHT CONTROL

    config LIGHT_CONTROL
        bool "Use light control"
        default y
        help
        Set this to true if car has lights, which can be controlled by the Tinycar.

    config HEADLIGHT_INDIVIDUAL
        bool "Headlights can be controlled individually"
        default n
        depends on LIGHT_CONTROL 
        depends on HARDWARE_BOARD_CUSTOM
        help
        Set this to true if the left and right headlight can be controlled individually (Two seperate Pins).

    config HEADLIGHT_LEFT_PIN
        depends on HEADLIGHT_INDIVIDUAL
        int "Headlight left pin"
        range 0 40
        default 1
        help
        Pin for the left headlight.
    
    config HEADLIGHT_RIGHT_PIN
        depends on HEADLIGHT_INDIVIDUAL
        int "Headlight right pin"
        range 0 40
        default 2
        help
        Pin for the right headlight.
    
    config HEADLIGHT_PIN
        depends on !HEADLIGHT_INDIVIDUAL
        depends on LIGHT_CONTROL
        int "Headlight pin"
        range 0 40
        default 1
        help
        Pin for the headlights. Default is for the Tinycar ESP board.

    config TAILLIGHT_INDIVIDUAL
        bool "Taillights can be controlled individually"
        default n
        depends on LIGHT_CONTROL
        depends on HARDWARE_BOARD_CUSTOM
        help
        Set this to true if the left and right taillight can be controlled individually (Two seperate Pins).
    
    config TAILLIGHT_LEFT_PIN
        depends on TAILLIGHT_INDIVIDUAL
        int "Taillight left pin"
        range 0 40
        default 4
        help
        Pin for the left taillight.
    
    config TAILLIGHT_RIGHT_PIN
        depends on TAILLIGHT_INDIVIDUAL
        int "Taillight right pin"
        range 0 40
        default 6
        help
        Pin for the right taillight.
    
    config TAILLIGHT_PIN
        depends on !TAILLIGHT_INDIVIDUAL
        depends on LIGHT_CONTROL
        int "Taillight pin"
        range 0 40
        default 4
        help
        Pin for the taillights. Default is for the Tinycar ESP board.
    
    config BLINKER_INDIVIDUAL
        bool "Blinkers can be controlled individually"
        default n
        depends on LIGHT_CONTROL
        depends on HARDWARE_BOARD_CUSTOM
        help
        Set this to true if the left and right blinker can be controlled individually (Two seperate Pins).
    
    config BLINKER_FRONT_LEFT_PIN
        depends on BLINKER_INDIVIDUAL
        int "Front left blinker pin"
        range 0 40
        default 8
        help
        Pin for the front left blinker.

    config BLINKER_FRONT_RIGHT_PIN
        depends on BLINKER_INDIVIDUAL
        int "Front right blinker pin"
        range 0 40
        default 10
        help
        Pin for the front right blinker.

    config BLINKER_REAR_LEFT_PIN
        depends on BLINKER_INDIVIDUAL
        int "Rear left blinker pin"
        range 0 40
        default 13
        help
        Pin for the rear left blinker.

    config BLINKER_REAR_RIGHT_PIN
        depends on BLINKER_INDIVIDUAL
        int "Rear right blinker pin"
        range 0 40
        default 14
        help
        Pin for the rear right blinker.

    config BLINKER_LEFT_PIN
        depends on !BLINKER_INDIVIDUAL
        depends on LIGHT_CONTROL
        int "Blinker left pin"
        range 0 40
        default 8
        help
        Pin for the left blinkers. Default is for the Tinycar ESP board.
    
    config BLINKER_RIGHT_PIN
        depends on !BLINKER_INDIVIDUAL
        depends on LIGHT_CONTROL
        int "Blinker right pin"
        range 0 40
        default 10
        help
        Pin for the right blinkers. Default is for the Tinycar ESP board.

    config BLINKER_INTERVAL
        depends on LIGHT_CONTROL
        int "Blinker interval"
        range 0 1000
        default 500
        help
        Interval for the blinkers (in ms).

    ###########################################################
    # MOTOR CONTROL
    config MOTOR_PIN
        depends on HARDWARE_BOARD_CUSTOM
        int "Motor pin"
        range 0 40
        default 40
        help
        Pin for the motor (Single MOSFET circuit).
    
    config MOTOR_MAX_DUTY_CYCLE
        int "Motor max duty cycle"
        range 0 100
        default 100
        help
        Max PWM duty cycle for the motor (in %). This helps preventing the motor from overheating.
    
endmenu
